<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action="/search" method="POST">
    <input type="text" name="search" placeholder="title or other">
    <fieldset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="searchBy" value="title" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="author">
          <span>Author</span>
          <input type="radio" name="searchBy" value="author" required>
        </label>
      </fieldset>
      <button type="submit">Search the Google Books API</button>

    
    </form>


</body>
</html>